venv/
nur_json_mix_LB_only
saved_model
json_mix_LLM
json_mix 
json_event_based
json_mix_LB_only 
json_files
__pycache__
llm_path
venv-gemma
VideoLLaMA2
whisper_path
type_4
slurm_outputs
LLaVA
Kimi-Audio
slurm_25_nov
logger
SLAM-LLM
caption_data
alignment_modules
audio-flamingo
data_for_videoLLama
random_py_files
results_txt_files
qwen
slurm_Dec_1
slurm_07_dec
slurm_dec18
gpt_files
AF3_HF_finetune
Inference
diarization_calculation
$